:root{
    --branco principal: #ffffff
    --cinza secundario: #c0c0c0
    --botão azul: #1676f7
    --cor-de-fundo: #00030c
}
 :root{
    __font-principal: "Inter";
 }
  body{ 
    font-family: var(__fonte-principal);
    font-size: 16 px;
    font-weight: 400;
  }
  .principal{
    align-items: center;
    text-align: center;
  }
  .container__botão{
    text-decoration: none;
    margin-bottom: 1cm;
  }
  .container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
  }
  .container__titulo {
    font-size: 28px;
    font-weight: 700;
  }
  .container__imagem {
    margin: 0 6em;
  }
  .secundario__imagem {
    width: 80%;
  }
  .secundario {
    align-items: center;
    margin: 0 10em;
  }
  .descricao